body,html{
    margin:0;
    padding:0;
}


form h3{
    color:white;
    margin-left:30%;
}
form{
    margin-top:20%;
}
label{
      margin-left:30%;
}
input[type='email']{
    width:50%;
}
input[type='submit']{
    width:100%;
}
::placeholder
{
   color: rgba(255,255,255,0.5);
}


h6{
    color:black;
    padding:2px;
    background-color:yellow;
}



  