.WebContainer{
    width: auto;
    height: auto;
}
.articles{
    width:auto; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
} 



/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary {width:67%;}
    #secondary { width:30%; margin-left:3%;}
}

/* Tablet Portrait */
@media screen and (max-width: 768px) {
    #primary {width:100%;}
    #secondary { width:80%; margin:0; border:none; }
}
Body{
	background:url(backgrounds-blank-blue-953214.jpg);
	background-size:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	height:110vh;
	width:100%;
}
#nav{
	color:white;
	padding-top:30px;
	padding-left:60px;
	font-size:40px;
	margin:auto;
	width:500px;
	border-radius:10px;
	opacity:.8;	
}
#nav input{
	 margin-top:30px;
	 width:200px;
	 height:40px;
	font-size:25px;
	border-radius:5px;

}

#nav input[name="email1"]{
	width:400px;
}
#nav input[name="sex1"]{
	margin-top:12px;
	width:25px;
}
#nav input[type="checkbox"]{
	margin-top:5px;
	width:25px;
}
#nav input[type="submit"]{
	margin:10px;
	width:150px;
	border-radius:50px;
	margin-left:280px;
	height:50px;
	background:white;
	color:black;
	font-weight:bold;
}
#nav input[type="submit"]:hover{
	 
background:white;
	color:blue;
	 
}




